/bower_components/
/node_modules/
/tmp/
/dev/tmp/
/dev/.sass-cache/
/dev/bower_components/
/dev/app/css/*.css
/dev/app/*.js
/dev/app/**/*.js
/prod/
/.idea/
/.settings/
/dev/public/js/
/dev/public/css/
/dev/public/react-ui/*.js

*.map
*.log
*.pid
