$mainColor: #4b2424;
body {
    background: $mainColor;
}

* {
    box-sizing: border-box;
}

.span-block {
    width: 100%;
    display: inline-block;
}

.login-section {
    width: 100%;
    text-align: center;
    padding: 25px;
}

.login-section > div {
    @extend .span-block;
    max-width: 500px;
    text-align: left;
}

.login-section .form-group
{
    margin-bottom: 10px;
}
