$mainColor: #f2f2f2;
body {
    background: $mainColor;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.span-block {
    width: 100%;
    display: inline-block;
}

.title-app {
    @extend .span-block;
    text-align: center;
    margin-bottom: 15px;
}

.title-app > a {
    color: black;
    &:hover {
        text-decoration: none;
    }
}


.login-section {
    width: 100%;
    text-align: center;
    padding: 25px;
}

.login-section > div {
    @extend .span-block;
    max-width: 500px;
    text-align: left;
}

.login-section .form-group {
    margin-bottom: 10px;
}

.grid-main {
    width: 100%;
    height: 100%;
}

.container-background {
    @extend .span-block;
    padding: 20px;
}

.list-group > li {
    margin-top: 5px;
}
