<section>
    <form ng-submit="save()">
        <div class="form-group">
            <label for="userInputName">Name</label>
            <input type="text" class="form-control" id="userInputName" ng-model="user.Name" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="userInputEmail">Email</label>
            <input type="email" class="form-control" id="userInputEmail" ng-model="user.Email" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="userInputLogin">Login</label>
            <input type="text" class="form-control" id="userInputLogin" ng-model="user.Login" placeholder="Login" />
        </div>
        <div class="form-group">
            <label for="userInputPassword">Password</label>
            <input type="password" class="form-control" id="userInputPassword" ng-model="user.Password" placeholder="Password" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" value="Salvar">Salvar</button>
        </div>
    </form>
</section>
