<section>
    <form>
        <div class="form-group">
            <label for="userInputName">Name</label>
            <input type="text" class="form-control" id="userInputName" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="userInputEmail">Email</label>
            <input type="email" class="form-control" id="userInputEmail" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="userInputLogin">Login</label>
            <input type="text" class="form-control" id="userInputLogin" placeholder="Login" />
        </div>
        <div class="form-group">
            <label for="userInputPassword">Password</label>
            <input type="password" class="form-control" id="userInputPassword" placeholder="Password" />
        </div>
    </form>
</section>
